

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LoginText{
    @Html.Partial("~/Views/Home/LoginTextPartial.cshtml")
}


@{
    var TenPhim = ViewBag.TenPhim as List <DataEntityFramework.PHIM>;
    var PhongChieu = ViewBag.PhongChieu as List<DataEntityFramework.PHONGCHIEU>;
    var PhienBan = ViewBag.PhienBan as List<DataEntityFramework.CT_PHIM>;
   
}
<h2 style="text-align:center"class="bg-info" >Sắp lịch chiếu phim</h2>
@using (Html.BeginForm("Index", "SapLichChieu", FormMethod.Get))
{
<div class="container">

    <div class="col-xs-5">
        <label>Tên phim </label>
        <select class="form-control" id="TenPhim" name="TenPhim" >
            
             @foreach(var item in TenPhim)
               {
                if (ViewBag.PhienBan != null)
                    {
                        if (ViewBag.TenPhimDaChon == item.TENPHIM)
                        {<option selected>@item.TENPHIM</option>}
                        else
                        {<option>@item.TENPHIM</option>}                                              
                    }
                else
                {
                    <option>@item.TENPHIM</option>
                }
               
               }
         
                  
             
            
        </select>
    </div>
    
    

    <br style="clear: left;" />

    <div class="col-xs-5" >
        <label>Phiên bản</label>
        <select class="form-control" id="PhienBan">
            @if (ViewBag.PhienBan != null)
            {
                foreach (var item in PhienBan)
                {
                    <option>@item.PHIENBAN</option>
                }
            }
            
        </select>
    </div>
    

    <br style="clear: left;" />
    <div class="col-xs-5">
        <label>Phòng chiếu</label>
        <select class="form-control" id="PhongChieu">
            @foreach (var item in PhongChieu)
            {
                <option value="@item.MAPHONGCHIEU">@item.TENPHONGCHIEU</option>
            }
        </select>
    </div>

    <br style="clear: left;" />
    

   
       
        <div class="col-xs-5">
         <label>Ngày chiếu</label>
            @if (ViewBag.NgayChieu != null)
            {
              <input type="date" class="form-control" name="NgayChieu" id="NgayChieu" value="@ViewBag.NgayChieu.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />    
            }
            else
            { 
            <input type="date" class="form-control" name="NgayChieu" id="NgayChieu" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            }
        </div>
       
    <input type="submit" id="submit" hidden />
    <script>
      
        $(document).ready(function () {
            $('#NgayChieu').change(function () {
                $('#submit').click();
            });
            $('#TenPhim').change(function () {
                $('#submit').click();
            });
           
        });
    </script>

    <br style="clear: left;" />
    <div class="col-xs-5">
        <label>Giờ chiếu</label>
        <input id="timepicker1" type="text" name="timepicker1"  class="form-control"/>
    </div>

    
    </div>
    <hr />
        
   
    
    
    
}

@using (Html.BeginForm("Index", "SapLichChieu", FormMethod.Post))
{

    <input name="_TenPhim" id="_TenPhim" hidden />
     <input name="PhienBan" id="_PhienBan" hidden />
     <input name="PhongChieu" id="_PhongChieu" hidden />   
     <input name="_NgayChieu" id="_NgayChieu" hidden />
     <div class="container-fluid">
        <input style="float:right" type="submit" id="submitPost" class="btn btn-primary" value="Thêm" />
    </div>
    <script>
        $('#submitPost').click(function () {
            $('#_TenPhim').val($('#TenPhim').val());
            $('#_PhienBan').val($('#PhienBan').val());
            $('#_PhongChieu').val($('#PhongChieu').val());
            $('#_NgayChieu').val($('#NgayChieu').val());
        });
    </script>
}



<link href="~/css/timepicki.css" rel="stylesheet" />
<script src="js/timepicki.js"></script>
<script>
    $('#timepicker1').timepicki({
        show_meridian: false,
        min_hour_value: 7,
        max_hour_value: 22,
        step_size_minutes: 5,
        overflow_minutes: true,
        increase_direction: 'up',
        disable_keyboard_mobile: true
    });
</script>

