@model List<RapChieuPhim.Models.KhachHang.JoinTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section LoginText{
    @Html.Partial("~/Views/Home/LoginTextPartial.cshtml")
}

@using (Html.BeginForm())
{
    <div>
        <br />
        <h2 style="color:navy; font-size:xx-large " class="text-center">
            Danh sách Khánh hàng
        </h2>
        <br />
    </div>

    <div class="x_content">
        <table id="datatable" class="table table-striped table-bordered ">
            <thead>
                <tr>
                    <th style="font-size :medium;" class="text-center"> </th>
                    <th style="font-size :medium;" class="text-center sorting_asc dataTable" aria-sort="ascending">Họ và tên</th>
                    <th style="font-size :medium;" class="text-center">Điểm tích lũy</th>
                    <th style="font-size :medium;" class="text-center">Ngày sinh</th>
                    <th style="font-size :medium;" class="text-center">Ngày đăng ký</th>
                    <th style="font-size :medium;" class="text-center">CMND</th>
                    <th style="font-size :medium;" class="text-center">Số điện thoại</th>
                    <th style="font-size :medium;" class="text-center">Địa chỉ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> <a href="@Url.Action("LoadKhachHang", "KhachHang")" class="btn btn-success">Chọn</a> </td>
                        <td style="font-size:large;" class="text-center">@item.HOTEN</td>
                        <td style="font-size:large;" class="text-center">@item.DIEMTICHLUY</td>
                        <td style="font-size:large;" class="text-center">@string.Format("{0:dd/MM/yyyy}", @item.NGAYSINH)</td>
                        <td style="font-size:large;" class="text-center">@string.Format("{0:dd/MM/yyyy}", @item.NGAYDK)</td>
                        <td style="font-size:large;" class="text-center">@item.CMND</td>
                        <td style="font-size:large;" class="text-center">@item.SDT</td>
                        <td style="font-size:large;" class="text-center">@item.DIACHI</td>
                    </tr>
                }
            <tbody>
        </table>
    </div>

}